@model Bookah.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}<!-- Font Icon-->
<link href="~/Web/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!--Main css-->
<link href="~/Web/css/style.css" rel="stylesheet" />

<body>
    <div class="main">
        <h1>Bookah Login</h1>
        <div class="container">
            <div class="sign-up-content">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <h2 class="form-title">Log In</h2>
                    <div class="form-textbox">
                        @Html.LabelFor(m => m.EmailAddress)
                        @Html.TextBoxFor(m => m.EmailAddress, "", new { id = "email" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "badge badge-danger" })
                    </div>
                    <br />
                    <div class="form-textbox">
                        @Html.LabelFor(m => m.Password)
                        @Html.TextBoxFor(m => m.Password, "", new { @id = "name" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <br />
                    <div class="form-textbox">
                        <input type="submit" name="submit" class="submit" value="Login" />
                    </div>
                    <br />
                    <div class="form-group">
                        Get redirected back to the Home page <a href="/Home/Index" class="loginhere-link" style="text-align: center">here</a>
                    </div>
                }
                <p class="loginhere">
                    Don't have an account ? <a href="/Account/Register" class="loginhere">here</a>
                </p>

            </div>
        </div>
    </div>
    <script src="~/Web/vendor/jquery/jquery.min.js"></script>
    <script src="~/Web/js/main.js"></script>
</body>