@model Bookah.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div style="text-align:center" class="container">
                <h1>Register Here</h1>
                <p>Please fill in the details to create an account with us.</p>
                <hr />
                <div style="text-align:center" class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, "", new { @style = "text-align:center", @class = "form-control", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, "", new { @class = "form-control", @placeholder = "Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "badge badge-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, "", new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "badge badge-danger" })
                    @if (ViewBag.error != null)
                    {
                        <span class="badge badge-danger">@ViewBag.error</span>
                    }
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ID_Number)
                    @Html.TextBoxFor(m => m.ID_Number, "", new { @class = "form-control", @placeholder = "ID Number" })
                    @Html.ValidationMessageFor(m => m.ID_Number, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CellphoneNo)
                    @Html.TextBoxFor(m => m.CellphoneNo, "", new { @class = "form-control", @placeholder = "Cellphone Number" })
                    @Html.ValidationMessageFor(m => m.CellphoneNo, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StudentNo)
                    @Html.TextBoxFor(m => m.StudentNo, "", new { @class = "form-control", @placeholder = "Student Number" })
                    @Html.ValidationMessageFor(m => m.StudentNo, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                </div>
            </div>
        }
    </div>
</div>